/* General Styles */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #faf8f8;
    overflow-x: hidden;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Focus Ring Disable */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}

/* Header Styles */
.header-container {
    background-color: rgb(233, 222, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-text {
    color: rgb(79, 79, 195);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 800;
}

.user-profile {
    height: 50px;
    border-radius: 50%;
}

/* Flex Container */
.flex-container {
    width: 100vw;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content Container */
.content-container {
    width: 500px;
    height: 350px;
}

/* Form Container */
/* Form Container */
.form-container {
    width: 500px;
    height: 350px;
    margin-top: 5px;
    padding-top: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5f3f3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), /* Original shadow */
                10px 10px 20px rgba(0, 0, 0, 0.15), /* Additional layer */
                15px 15px 25px rgba(0, 0, 0, 0.1), /* Further depth */
                20px 20px 30px rgba(0, 0, 0, 0.05); /* Subtle outer glow */
}


/* Input Group */
.input-group {
    display: flex;
    gap: 10px;
}

/* Input Fields */
.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type="number"] {
    border: none;
    border-bottom: 1px solid rgb(143, 143, 143);
    background: none;
    color: rgba(0, 0, 0, 0.555);
    height: 35px;
    width: 150px;
}

/* Submit Button */
.submit-btn {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 7px #38d39f70;
    background: #38d39f;
    color: rgba(255, 255, 255, 0.8);
    width: 80px;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    color: #fff;
    box-shadow: none;
}